<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.havital.workout-sync</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh-Hant</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh-Hant</string>
		<string>en</string>
		<string>ja</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.364865009192-93fc1pdcjbaigk5knq1rob7ho8i55g2i</string>
				<string>com.googleusercontent.apps.163961347598-1gbjllfk6krlcukv42n93gpr65egan3n</string>
				<string>com.googleusercontent.apps.364865009192-vjgiukujgjpjb2t1viu5je7eq5o7chet</string>
			</array>
			<key>CFBundleURLType</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>GarminOAuthCallback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>paceriz</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>Havital 需要行事曆權限來同步您的訓練計劃</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Havital 需要行事曆寫入權限來同步您的訓練計劃</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>Havital 需要存取健康記錄，以提供更完整的健康分析</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Havital 需要讀取您的健康資料（包括心率、HRV和運動記錄），以提供訓練分析和建議，並自動同步您的健身記錄</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Havital 需要寫入您的運動記錄，以追蹤您的訓練狀況</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>Havital 需要通知權限以告知您運動數據已成功同步</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>healthkit</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
