<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364865009192-vjgiukujgjpjb2t1viu5je7eq5o7chet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364865009192-vjgiukujgjpjb2t1viu5je7eq5o7chet</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>364865009192-q0omhnga993ce614s84ab7nngdsm5emd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMcMasFpDEDpZpm3wVRQS2gPl4JUE3hG4</string>
	<key>GCM_SENDER_ID</key>
	<string>364865009192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.havital.Havital.dev</string>
	<key>PROJECT_ID</key>
	<string>havital-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>havital-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364865009192:ios:130bb8f6a2c54a165f271d</string>
</dict>
</plist>