<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PromptDashAPIKey</key>
	<string>sk-pdash-eYvaCJhJsmS18h4-ziALUsRqd_JWTBPS/_Mtx2JIqavC4qp7RwNnsN9Hj9qnsQW0CSsr2CNA6mQ_1T4sHc0v7aPl6NmDD71KETgYstk5ILfkueMOL0MW1/xT4vHsyomW</string>
	<key>GarminClientID_Dev</key>
	<string>bde6d189-73a1-4291-a065-0acaf0d56525</string>
	<key>GarminClientID_Prod</key>
	<string>0cddddf2-fe12-43e9-8209-4a5016f3fb58</string>
	<key>StravaClientID_Dev</key>
	<string>STRAVA_CLIENT_ID_DEV_NOT_SET</string>
	<key>StravaClientSecret_Dev</key>
	<string>STRAVA_CLIENT_SECRET_DEV_NOT_SET</string>
	<key>StravaClientID_Prod</key>
	<string>STRAVA_CLIENT_ID_PROD_NOT_SET</string>
	<key>StravaClientSecret_Prod</key>
	<string>STRAVA_CLIENT_SECRET_PROD_NOT_SET</string>
</dict>
</plist>
