<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PromptDashAPIKey</key>
	<string>sk-pdash-eYvaCJhJsmS18h4-ziALUsRqd_JWTBPS/_Mtx2JIqavC4qp7RwNnsN9Hj9qnsQW0CSsr2CNA6mQ_1T4sHc0v7aPl6NmDD71KETgYstk5ILfkueMOL0MW1/xT4vHsyomW</string>
	<key>GarminClientID</key>
	<string>a959fc5f-1a46-4e2e-a2c8-284a5698fc57</string>
</dict>
</plist>
